:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 236, 126);
    --entry: rgb(255, 245, 180);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(30, 30, 30);
    --tertiary: rgb(255, 245, 180);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(255, 218, 3);
    --border: rgb(119, 102, 8);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(255, 218, 3);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}


.post-entry {
    border-color: var(--code-block-bg);
}

hr {
    background: var(--border) !important;
}

.post-tags a {
    background-color: var(--tertiary)}

.post-tags a:hover {
    background-color: var(--secondary);
    color: var(--entry);
}

.logo-home{
    float: left;
    background-image: url('/art-hov_logo.png');
    background-size: cover;
    background-position: center;
    width: 10rem;
    height: 10rem;
}

.home-info .entry-header {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
}

.home-info .entry-header h1 {
    margin: auto 0;
    font-size: 4rem !important;
    border-bottom: .4rem solid var(--primary);

}

.post-content img {
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}