body {
    background-color: #ffec7e;
}


.frame-content {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    line-height: 1.9rem;
    max-width: 90%;
    position: relative; /* or absolute */
    left: 50%;
    transform: translateX(-50%);
    color: #1e1e1e;
  }
  .frame-content img {
    max-width: 100%;
    position: relative; /* or absolute */
    left: 50%;
    transform: translateX(-50%);
  }

  a {
    color: #1e1e1e;
  }


  .container {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 4rem;
  }
  
  .logo {
    background-size: cover;
    background-position: center;
    width: 10rem;
    height: 10rem;
  }

  .heading h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border-bottom: #1e1e1e 3px solid;
  }