body {
    background-color: #ffec7e;
}


.frame-content {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    line-height: 1.9rem;
    max-width: 90%;
    position: relative; /* or absolute */
    left: 50%;
    transform: translateX(-50%);
    color: #1e1e1e;
  }
  .frame-content img {
    max-width: 100%;
    position: relative; /* or absolute */
    left: 50%;
    transform: translateX(-50%);
  }

  a {
    color: #1e1e1e;
  }


  